@import "../../../../theme/variables";

:host {
  .app-characters-detail__avatar-wrapper {
    width: 128px;
    height: 128px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: $box-shadow-lg;
    img {
      width: 100%;
    }
  }

  .app-characters-detail__quote {
    border-left: map_get($spacers, 1) solid var(--app-secondary-text-color);
    padding: map_get($spacers, 3);
    font-size: $font-size-lg;
    font-style: italic;
    color: var(--app-secondary-text-color);

    @include media-breakpoint-down("md") {
      padding: map_get($spacers, 2);
      font-size: $font-size-base;
    }
  }
}
