@import "./variables";
@import "./components";

@include color-scheme("dark") {
  --app-theme: "dark";
  --app-base-text-color: #{rgba($white, .95)};
  --app-secondary-text-color: #{rgba($white, .7)};
  --app-base-backgroud-color: #{$gray-900};
  --app-secondary-backgroud-color: #{$gray-800};
}
@include color-scheme("light") {
  --app-theme: "light";
  --app-base-text-color: #{rgba($black, .95)};
  --app-secondary-text-color: #{rgba($black, .7)};
  --app-base-backgroud-color: #{$gray-100};
  --app-secondary-backgroud-color: #{$gray-200};
}

::-webkit-scrollbar {
  width: 10px;
  border: 2px solid black;
}

::-webkit-scrollbar-track {
  background: var(--app-secondary-backgroud-color);
}

::-webkit-scrollbar-thumb {
  background: var(--app-secondary-text-color);
  border: 2px solid var(--app-secondary-backgroud-color);
  &:hover {
    background: lighten(theme-color("primary"), 10%);
  }
  &:active {
    background: theme-color("primary");
  }
}

body {
  font-family: 'Roboto Mono', monospace;
  color: var(--app-base-text-color);
  background-color: var(--app-base-backgroud-color);
  transition: color $transition-base, background-color $transition-base;
}

p {
  color: var(--app-secondary-text-color);
}
